*{
    font-family: prompt;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar{
    display: none;
}



#main{
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}

#hero{
    background-color: black;
    height:100vh;
    width: 100vw;
    color: white;
}
.header{
    /* background-color: rgb(27, 11, 11); */
    /* background: linear-gradient(to right, rgb(101, 79, 79), rgb(158, 158, 106)); */
    height: 12vh;
    /* color: rgb(112, 88, 88); */
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:   black;
    z-index: 10;
    justify-content: space-between;
}

.navright{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

.navright>a{
    position: relative;
    font-weight: 900;
    padding-right: 30px;
    align-items: center;
    letter-spacing: 0.5px;
}

.navright>a:hover{
    /* text-decoration: underline; */
    color: aqua;
}

.navright>a::after{
    content: "";    
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    background-color: aqua;
    left: 0;
}

.navright>a:hover::after{
    animation-name: lineanime;
    animation-duration: 1s;
    
}

@keyframes lineanime {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}





.header h2{
    color: aqua;
    padding-top: 3vh;
    padding-left: 2vw;
    padding-right: 50vw;
}

.header a{
    color:white;
    text-decoration: none;
}

/* content page  */
.content{
    /* position: relative; */
    height: 88vh;
    width: 100%;
    display: flex;
}

.lcontent{  
    /* position: absolute; */
    height: 88vh;
    width: 50%;
    position: relative;
    /* background-color: red; */
}

.rcontent{
    /* position: absolute; */
    width: 50%;
    height: 88vh;
    /* background-color: green; */
}

.text{
    padding: 200px 50px;
}

.text>h1{
    font-size: 50px;
    font-weight: 600;
}


.text>button{
    padding: 10px 15px;
    border: none;
    color: white;
    background-color: brown;
    margin-top: 10px ;
    margin-right: 5px;
    border-radius: 10px;
}

.text>button:hover{
    background-color: rgb(255, 221, 221);
    color: black;
}

.text>h1>span, .text>h2>span{
    color: brown;
}

.icons{
    margin-top: 25vh;
    position: absolute;
}

.icons>i{
    padding: 5px;
    font-size: x-large;
    /* border:3px solid rgb(85, 98, 98); */
    border-radius: 50%;
}

.icons>i:hover{
    color: black;
    background-color: aqua;

}

.rcontent>img{
    margin-top: 100px;
}

.resume a {
    text-decoration: none;
    color: white;
}

#II-page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000e13;
    /* background-color: black; */
}

.II-inner{
    position: absolute;
    margin-top: 15vh;
    margin-left: 15vw;
    height: 70vh;
    width: 70vw;
    /* background-color: white; */

}

.II-inner>h1{
    font-weight: 600;
    letter-spacing: 2px;
    /* border-bottom: 2px solid red; */
    /* overflow: clip; */
    /* text-decoration: underline brown; */
    margin-bottom: 25px ;
    padding-bottom: 5px ;
    border-bottom-style: solid;
    /* border-bottom-width:  3.1px; */
    width: fit-content;
    border-color: aqua;
}

.II-inner>h3{
    letter-spacing: 1px;
    /* color: aqua; */
}

.II-inner>h3{
    font-weight: 400;
}

.II-inner>h1>span{
    color: brown;
}

#III-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;

}

.III-inner{
    position: absolute;
    width: 50vw;
    height: 70vh;
    /* background-color: red; */
    margin-left: 25vw;
    margin-top: 15vh;
    padding: 10px;
    background-color: rgb(27, 27, 27);
    border-radius: 20px;
}

.III-inner>h1{
    font-weight: 700;
    padding-bottom: 5px ;
    margin-bottom: 20px;
    border-bottom-style: solid;
    /* border-bottom-width:  3.1px; */
    width: fit-content;
    color: white;
    border-color: aqua;
}

.III-inner>h2{
    color: aqua;
    margin-left: 10px;
}

.III-inner>h1>span{
    color: brown;
}

.container{
    border-radius: 20px;
    width: 100%;
    background-color: gray;
    margin-bottom: 10px;
}

.html{
    width: 95%;
}
.python{
    width: 95%;
}
.css{
    width: 85%;
}
.javascript{
    width: 70%;
}

.python{
    width: 80%;
}

.gitngithub{
    width: 70%;
}

.html, .css, .javascript, .python, .gitngithub{
    border-radius: 20px;
    /* background-color: rgb(54, 83, 83); */
    background-color: white;
    color: black;
    text-align: center;
}



/* 4th page */

#IV-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000e13;
    display: flex;
    /* justify-content: space-between; */
}

#IV-page>h1{
    color: white;
    /* position: absolute; */
    text-align: center;
    
}

.card, .card2{
    position: relative;
    width: 400px;
    /* width: 30vw; */
    height: 500px;
    /* margin: 100px 0px 100px 0; */
    margin-left: 10vh !important;
    margin-right: 10vh !important;
    margin: 70px 0px 0px 250px;
    border-radius: 25px;
    /* background-color: rgb(112, 89, 89); */
    /* background-color: rgb(165, 187, 220); */
    /* background-color: rgb(175, 216, 216); */
    background-color: rgb(0, 0, 0);
    color: gray;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(8, 8, 8, 0.5);

}

.card2{
    /* position: fixed !important; */
}

.card:hover{
    /* padding: 5px 0 5px 0; */
    /* height: 480px;
    width: 390px; */
    transition: all .2s ease-in;
    opacity: 0.8;
    background-color: rgb(10, 10, 10) ;
}

.card2:hover{
    /* padding: 5px 0 5px 0; */
    /* height: 480px;
    width: 390px; */
    opacity: 0.8;
    transition: all .2s ease-in;
    background-color:rgb(10, 10, 10) ;    
}

.c001{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.c001>h2{
    /* margin: 70px; */
    /* position: relative; */
    display: flex;
    align-items: center;
}   
/* 
.c001>h2::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 0%;
    border-radius: 10px;
    background-color: aqua;
    left: 0;
    bottom: 0;
} */

/* 
.c001>h2:hover::after{
    animation-name: lineanime2;
    animation-duration: 1s;
}

@keyframes lineanime2 {
    0%{
        width: 0;
        left: 0;
    }
    100%{
        width: 100%;
        left: 100; 
    }
}
*/

#img1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0px 0px 50px 0px; */
    margin-right: 30px;
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    border: 2px solid aqua;
    /* width: 40px; */

}

#img2{
    /* position: relative; */
    display: flex;
    justify-content: center; 

    /* align-items: center ; */
    /* width: 300px; */
    /* height: 200px; */
    /* border-radius: 40px; */
    /* margin-left: 7vh; */
    margin-top: 40px;
    /* width: 20px; */
    /* height: 50px; */
    /* position: absolute; */

}

#img2>img{
    width: 300px;
    height: 250px;
    border-radius: 3%;
}

.contact{
    width: 100%;
    height: 350px;
    background-color: black;
    color: white;
    /* display: flex; */
    text-align: center;
}

.contact-inner span{
    color: aqua;
}

.contact-inner{
    padding: 50px;
}

.links{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    
}

.links p{
    margin-bottom:4px;
}

.contact-inner p{
    width: fit-content;
}

.contact-inner p:hover{
    cursor: pointer;
}

.contact-inner h6{
    padding-bottom: 20px;
}

.contact-inner i{
    margin-right: 10px;
    background-color: rgb(103, 151, 151);
    color: black;
    border-radius: 50%;
    padding: 3px;
    /* animation: blink 1s steps(1, end) infinite;  */
}

.contact-inner i:hover{
    background-color: aqua;
    color: white;
    cursor: pointer;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}

/* #footer {
}

.line{
    border: 1px solid white;
    margin-top: 20px;
}
*/
